<form action="/newsSearch" method="POST" class="mb-4">
  <input type="text" name="location" placeholder="Enter a location" value="{{location}}" class="form-control" required>
  <button type="submit" class="btn btn-primary mt-2">Search News</button>
</form>

<div class="row">
  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  {{#each local_news}}
    {{> articlecardMapSearch}}
  {{/each}}
</div>
