{{>message}}
<div class="grid grid-cols-2 bg-gray-200">
 <div class="h-screen px-20">
   <h1 class="text-center text-sky-600  pt-20">Welcome!</h1>
   <p class="text-center pb-4">Enter your details to create your account.</p>


   <div class="bg-gray-50 rounded p-8">


{{#if user_exists}}
 <p class="text-red-600 text-center pb-2">A user with that username already exists.</p>
{{else if no_match}}
 <p class="text-red-600 text-center pb-2">Passwords do not match.</p>
{{else if invalid_input}}
 <p class="text-red-600 text-center pb-2">Invalid Input.</p>
{{else if invalid_passlen}}
 <p class="text-red-600 text-center pb-2">Passwords must have 6 characters at least.</p>
{{/if}}
<form method="POST" action="/register" class="container">
 <div class="form-group pb-2">
   <label for="username">Username</label>
   <input type="username" class="form-control" id="username" name="username" placeholder="Enter username">
 </div>
 <div class="form-group pb-2">
   <label for="password">Password</label>
   <input type="password" class="form-control" id="password" name="password" placeholder="Password">
 </div>
 <div class="form-group pb-4">
   <label for="password">Confirm Password</label>
   <input type="password" class="form-control" id="confirm-password" name="confirmpassword" placeholder="Confirm Password">
 </div>
  <div class="text-center">
   <button type="submit" class="w-80 bg-sky-600  text-white py-2 px-4 rounded hover:bg-cyan-800 focus:outline-none focus:ring-2 focus:ring-cyan-900 focus:ring-opacity-50">Register</button>
  </div>  
 <p class="pt-2 text-center">Already have an account? <a href="/login">Login here</a></p>
</form>
   </div>
   <div style="padding-top: 50px;">
  <p class="text-left p-2 bg-gray-50 rounded text-slate-950">Curious about what's happening in the world? Our application allows users to drop pins around the world to tell them the local news at that specific location.
    WhatsHappenin brings the news to you based on your location of interest whether out of research for a particular area or out of simple curiosity.</p>
  </div>
 </div>


 <div class="p-2" style="background-image: url('https://images.unsplash.com/photo-1507486076008-3c60cfcce36f?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: bottom; height: 100%">
   {{!-- <img src="https://cdn.pixabay.com/photo/2024/07/06/04/27/map-8875911_1280.png" class="mx-auto top-0 left-0 w-4/6 mt-8 mb-2" alt="login image"> --}}
 </div>
</div>