{{> message }}

<body>
    <div class="container" style="padding: 50px">
        <h1>Saved Articles</h1>
        <div class="d-flex flex-column align-items-center">
          {{!use ../user because we get user to savedarticles form index.js, but each creates a new scope for each article}}
            {{#each articles}}
            {{>articlecard article_id=this.article_id user=../user edit_comment_id_show=../edit_comment_id_show article_id=this.article_id}}
            {{/each}}
        </div>
    </div>
</body>

<style>
  .article-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
</style>
