<html>
  <head>
    <title>Simple Marker</title>
    <script async src="{{mapAPI}}&callback=init"></script>
  </head>

  <link rel="stylesheet" href="./style.css" />

  <body>
    <div id="map" style="height: 500px; width: 100%"></div>

    <script>
      function initMap() {
        const mapCenter = { lat: 40, lng: -100 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: mapCenter,
        });
        map.addListener("click", (event) => {
          addMaker(event.latLng, map);
        });
      }
      function addMaker(location, map) {
        new google.maps.Marker({ position: location, map: map });
      }
    </script>
  </body>
</html>
