<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            {{!-- nav-link is just a regular style tag
            me-3 adds a gap to the right --}}
            <a href="/newsMap" class="nav-link me-3" style="text-decoration: none;">Map</a> 
          </li>
          <li class="nav-item">
            <a href="/savedArticles" class="nav-link" style="text-decoration: none;">Saved Articles</a>
          </li>
        </ul>
        <div class="nav-item me-1">
          <a href="/logout" class="nav-link" style="text-decoration: none;">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>